.form-array-header {
    display: inline;
}

.upload-button{
    height: 2.6em;
    max-width: 300px;
    margin-top: .7em;
}

.save-button {
    margin-top: 3em;
    max-width: 300px;
}

.delete-icon {
    color: #bbb;
    cursor: pointer;
    font-size: 18px;
}