<div class="page-container padded">
  @if (user(); as userData) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ userData.name }}</mat-card-title>
      <!-- <mat-card-subtitle>Lid sinds: {{ user.createdAt | date : 'dd MMMM yyyy' }}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>Je hebt {{ userData.numberOfRecipes }} recepten gemaakt.</p>
      <p>Je hebt {{ userData.numberOfLikes }} favoriete recepten.</p>
    </mat-card-content>
  </mat-card>
  }
</div>
