<div class="page-container padded">
  @if (userData(); as user) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>Lid sinds: {{ user.createdAt | date : 'dd MMMM yyyy' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (userInfo(); as info) {
      <p>Je hebt {{ info.numberOfRecipes }} recepten gemaakt.</p>
      <p>Je hebt {{ info.numberOfLikes }} favoriete recepten.</p>
      }
    </mat-card-content>
  </mat-card>
  }
</div>
