<div class="page-padding">
  <mat-card *ngIf="recipe$ | async as recipe">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>Een recept van {{ recipe.ownerName }}</mat-card-subtitle>
      <div *ngIf="(deviceService.isHandset$ | async) === false" class="desktop-actions">
        <button *ngIf="deviceService.isSafari()" mat-icon-button color="primary" aria-label="Share button" (click)="onClickShare(recipe.title)">
          <mat-icon>share</mat-icon>
        </button>
        <span *ngIf="(auth.user$ | async) as user">
          <button *ngIf="recipe.likes?.includes(user.uid); else notLiked" mat-icon-button color="primary" aria-label="Like button" (click)="onUnlikeClick($event, recipe)">
            <mat-icon>favorite</mat-icon>
          </button>
          <ng-template #notLiked>        
            <button mat-icon-button color="primary" aria-label="Like button" (click)="onLikeClick($event, recipe)">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </ng-template>
        </span>
        <button *ngIf="(auth.user$ | async)?.uid === recipe.ownerId" mat-icon-button color="primary" aria-label="Edit button" (click)="onEditClick(recipe.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <div mat-card-image class="recipe-image" [ngStyle]="{'background-image': getImageURLStyle(recipe.photoURL)}"></div>
    <mat-card-content>
      <div *ngIf="(deviceService.isHandset$ | async)" class="mobile-actions">
        <button mat-icon-button color="primary" aria-label="Share button" (click)="onClickShare(recipe.title)">
          <mat-icon>share</mat-icon>
        </button>
        <span *ngIf="auth.user$ | async as user">
          <button *ngIf="recipe.likes?.includes(user.uid); else notLiked" mat-icon-button color="primary" aria-label="Like button" (click)="onUnlikeClick($event, recipe)">
            <mat-icon>favorite</mat-icon>
          </button>
          <ng-template #notLiked>        
            <button mat-icon-button color="primary" aria-label="Like button" (click)="onLikeClick($event, recipe)">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </ng-template>
        </span>
        <button *ngIf="(auth.user$ | async)?.uid === recipe.ownerId" mat-icon-button color="primary" aria-label="Edit button" (click)="onEditClick(recipe.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <p>{{ recipe.description }}</p>
      <h3>Ingredi&#235;nten</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients" [hidden]="ingredient == ''">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Stappen</h3>
      <ol>
        <li *ngFor="let step of recipe.steps" [hidden]="step == ''">
          {{ step }}
        </li>
      </ol>
    </mat-card-content>
  </mat-card>
</div>
