<div class="page-padding">
  <mat-card *ngIf="recipe$ | async as recipe">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="recipe.photoURL" alt="recipe photo" class="recipe-image" />
    <mat-card-content>
      <h3>Ingredi&#235;nten</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients" [hidden]="ingredient == ''">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Stappen</h3>
      <ol>
        <li *ngFor="let step of recipe.steps" [hidden]="step == ''">
          {{ step }}
        </li>
      </ol>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button *ngIf="deviceService.isSafari() || (deviceService.isHandset$ | async)" mat-button (click)="onClickShare(recipe.title)">Delen</button>
      <button mat-button (click)="onEditClick(recipe.id)">Wijzigen</button>
    </mat-card-actions>
  </mat-card>
</div>
