<div class="page-padding">
  <mat-card *ngIf="recipe$ | async as recipe">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="recipe.photoURL" alt="recipe photo" class="recipe-image" />
    <mat-card-content>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <ol>
        <li *ngFor="let step of recipe.steps">
          {{ step }}
        </li>
      </ol>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
      <button mat-button (click)="onEditClick(recipe.id)">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
