.hero-bg {
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to right, #009ffb, #3b00fb);
  clip-path: polygon(100% 5%, 100% 89%, 0 100%, 0 18%);

  h1 {
    font-size: clamp(4rem, 10vw, 15rem);
    color: #fff;
    margin-top: 1em;
    padding: 8vw;
  }
}
