@use '../../../vars.scss' as vars;

.hero-bg {
  background-color: vars.$cobo-green;
  text-align: center;
  color: #fff;

  & > h1 {
    font-weight: 100;
    font-size: clamp(3rem, 16vw, 12rem);
    padding-top: 0.3em;
    width: 100%;
    line-height: 1.05;
    letter-spacing: -0.01em;
    margin: 0;
  }

  & h2 {
    font-weight: 100;
    font-size: clamp(2rem, 3vw, 7rem);
    padding-bottom: 0.7em;
  }
}

.recipe-container {
  max-width: 600px;
  margin: auto;
}

cobo-recipe-card {
  cursor: pointer;
}
