@import '../../../../vars.scss';

mat-card {
  text-align: start;
}

.recipe-image {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  & > div {
    padding: 0.5rem 1rem;
    background-color: $cobo-green;
    opacity: 0.9;
    & > h2 {
      font-size: 1.3rem;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 80%;
      text-overflow: ellipsis;
    }
    & > h4 {
      font-size: 0.8rem;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 80%;
      text-overflow: ellipsis;
    }
  }
}

// Only on larger screens
@media only screen and (min-width: $desktop-breakpoint) {
  .recipe-image {
    height: 400px;

    & > div {
      width: fit-content;
      border-radius: 16px 0px 50px;
      padding: 1rem 2rem 1rem 1rem;

      & > h2 {
        padding: 16px 0 0 16px;
        width: 98%;
      }
      & > h4 {
        padding-left: 16px;
        width: 98%;
      }
    }
  }
}
