@import '../vars.scss';

mat-toolbar,
mat-sidenav-content {
  background-color: white;
}

mat-toolbar {
  display: flex;
  color: $cobo-mid-grey;

  & > span {
    flex: 1 1 0%;
    box-sizing: border-box;
  }
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  width: 15em;
  border-radius: 0 20px 20px 0;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 99;
  height: $toolbar-height;
}

@media screen and (min-width: $desktop-breakpoint) {
  // toolbar to top on larger screens
  .mat-toolbar {
    position: sticky;
    top: 0;
  }
}
