@import '../vars.scss';

mat-toolbar {
  display: flex;
  background-color: #fff;
  color: $cobo-mid-grey;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  & > span {
    flex: 1 1 0%;
    box-sizing: border-box;
  }
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  width: 15em;
  border-radius: 0 20px 20px 0;
}

.version-text {
  padding: 0 16px;
  color: $cobo-mid-grey;
}
