<mat-sidenav-container>
  <!-- Side menu -->
  <mat-sidenav
    #sideNav
    fixedInViewport
    [attr.role]="(browserUtils.isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(browserUtils.isHandset$ | async) ? 'over' : 'side'"
    [opened]="(browserUtils.isHandset$ | async) === false"
  >
    <img class="logo" src="../assets/Logo v1.png" alt="Cookboek logo" />
    <mat-nav-list (click)="closeSideNavIfHandset(sideNav)">
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item [routerLink]="['recepten']">Recepten</a>
    </mat-nav-list>
    <mat-nav-list (click)="closeSideNavIfHandset(sideNav)">
      <a *ngIf="user$ | async; else showLogin" mat-list-item (click)="logout()">Uitloggen</a>
      <a *ngIf="user$ | async" mat-list-item [routerLink]="['profiel']">Mijn Account</a>
      <ng-template #showLogin>
        <a mat-list-item (click)="login()">Inloggen</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main section -->
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        *ngIf="browserUtils.isHandset$ | async"
        type="button"
        aria-label="toggle side menu"
        mat-icon-button
        (click)="sideNav.toggle()"
      >
        <mat-icon aria-label="menu icon">menu</mat-icon>
      </button>
      <cobo-user-quick-menu></cobo-user-quick-menu>
    </mat-toolbar>

    <!-- Router outlet -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
