mat-toolbar {
  color: #8d8d8d !important;
}

mat-sidenav-content {
  background-color: #fff;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-radius: 0px 16px 16px 0px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #8d8d8d !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

.avatar-circle {
  img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}

.cake-icon {
  font-size: 21px;
  padding-right: .4em;
}
