@use '../../../../vars.scss' as vars;

.recipe-grid {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.recipe-container {
  padding-bottom: 10px;
}

// Only on larger screens
@media only screen and (min-width: vars.$desktop-breakpoint) {
  .recipe-grid {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
