.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
}

.recipe-image {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-container {
  padding-bottom: 10px;
}

// Only on larger screens
@media only screen and (min-width: 700px) {
  .recipe-image {
    height: 400px;
  }
}
