<div
  class="page-padding"
  fxLayout.lt-md="column"
  fxLayout="row wrap"
  fxLayoutGap="1%"
>
  <div *ngFor="let recipe of recipes$ | async" fxFlex="49%" fxFlex.xl="32%" class="recipe-container">
    <mat-card class="clickable" (click)="onRecipeClick(recipe)">
      <mat-card-header>
        <mat-card-title>{{ recipe.title }}</mat-card-title>
        <mat-card-subtitle>Een recept van {{ recipe.ownerName }}</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image class="recipe-image" [ngStyle]="{'background-image': getImageURLStyle(recipe)}"></div>
      <p *ngIf="recipe.likes?.length > 0">{{ recipe.likes.length }}{{ recipe.likes.length > 1 ? ' personen vinden' : ' persoon vindt'}} dit recept leuk</p>
    </mat-card>
  </div>
  <button class="add-button" mat-fab color="primary" aria-label="Add new recipe button" (click)="onClickAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>
