@import './vars.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.handwritten {
  font-family: 'Satisfy', cursive !important;
}

// Side nav menu layout
.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & mat-nav-list:nth-child(1) {
    flex: 1;
  }
}

.page-container {
  box-sizing: border-box;
  // max-height: calc(100vh - $toolbar-height);
  // height: auto;
  // overflow-y: auto;
}

.padded {
  padding: 1rem;
}
.padded-x {
  padding: 0 1rem;
}
.padded-y {
  padding: 1rem 0;
}

// TODO: update these classes/components
.mdc-button--outlined,
.mat-raised-button,
.mat-menu-panel,
mat-card,
mat-dialog-container {
  border-radius: 16px !important;
}

.center-content {
  text-align: center;
}

.align-content-right {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

@media screen and (min-width: $desktop-breakpoint) {
  .padded {
    padding: 2rem;
  }
  .padded-x {
    padding: 0 2rem;
  }
  .padded-y {
    padding: 2rem 0;
  }
  .padded-desktop {
    padding: 2rem;
  }
  .padded-desktop-x {
    padding: 0 2rem;
  }
  .padded-desktop-y {
    padding: 2rem 1;
  }
}
