// Colors
$cobo-grey: #d3d3d3;
$cobo-green: #009688;
$cobo-semi-black: #212121;

// Layout
$desktop-breakpoint: 768px;
$toolbar-height: 64px;

// Calendar
$calendar-hour-height: 60px;
$calendar-num-hours: 10;
