// Colors
$cobo-light-grey: #f5f5f5;
$cobo-grey: #d3d3d3;
$cobo-mid-grey: #8d8d8d;
$cobo-dark-grey: #666;
$cobo-green: #43a047;
$cobo-semi-black: #212121;

// Layout
$desktop-breakpoint: 768px;
$toolbar-height: 64px;

// Calendar
$calendar-hour-height: 60px;
$calendar-num-hours: 10;
