@use '../../../../vars.scss' as vars;

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

table {
  width: 100%;

  & .date-column {
    min-width: 10ch;
  }
}

// Only on larger screens
@media only screen and (min-width: vars.$desktop-breakpoint) {
  .add-button {
    right: 30px;
    bottom: 30px;
  }
}
