<div class="page-container">
  <div class="input-section">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Zoeken</mat-label>
        <input matInput type="text" formControlName="searchTerm" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>

    @if ((browserUtils.isHandset$ | async) === true) {
    <button
      class="mobile-add-button"
      mat-fab
      aria-label="Add new recipe button"
      (click)="onClickAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
    } @else {
    <button
      class="desktop-add-button"
      matFab
      extended
      aria-label="Add new recipe button"
      (click)="onClickAdd()"
    >
      <mat-icon>add</mat-icon>
      Nieuw recept
    </button>
    }
  </div>

  <cobo-recipe-grid [recipes]="recipes$ | async"></cobo-recipe-grid>
</div>
